.fc-toolbar-title {
   display: flex;
   flex-direction: row;
   width: fit-content;
}

.fc-day-sun{
    background-color: rgb(255, 235, 235) ;
}




@media only screen and (max-width: 480px) {
    .fc-toolbar-chunk{
        font-size: 90%;
    
    }

}



